

body{
   
    background-color: grey;
   
    
}

#gameboard { 
  display: block;

}

#game-wrapper { 
    margin:0 auto; 
    width: 500px;

}

#game-wrapper #lives {
    color: #405aa7;
    font-weight: 20;
    font-family: Karmatic Arcade;
    font-size: 30px;
    text-align: left;
    float: left;
    padding: 10;
}

#game-wrapper #score {
    color: #405aa7;
    font-weight: 20;
    font-family: Karmatic Arcade;
    font-size: 30px;
    text-align: right;
    float: right;
    padding: 10;
    
}

#title  {
    margin:0 auto; 
    width: 500px;
}

#control { 
    margin:0 auto; 
    width: 500px;

}